<!-- FILEPATH: /D:/Angular/mini-system/src/app/modules/page-not-found/page-not-found.component.html -->

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <img src="../../../assets/404_page_not_found-1.png" alt="404 Error" class="img-fluid">
      <h1 class="mt-4">Página não encontrada</h1>
      <p class="lead">Desculpe, a página que você está procurando não existe.</p>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
      <div class="row mt-4">
        <div class="col-md-6">
          <h5>Informações de Contato</h5>
          <p>Endereço: Rua X, nº 123</p>
          <p>Telefone: (11) 1234-5678</p>
          <p>Email: contato&#64;empresa.com.br</p>
        </div>
      </div>
    </div>
  </div>
</div>
