<p-toolbar styleClass="bg-bluegray-900">

  <div class="p-toolbar-group-start">
    <button #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
  </div>

  <div class="p-toolbar-group-center info-empresa">
    <img [src]=logo alt="logo">
    <p>{{nomeEmpresa}}</p>
  </div>

  <div class="p-toolbar-group-end">
    <p-button class="mr-5" label="Vender" icon="pi pi-cart-plus" styleClass="p-button-success" (onClick)="venda()"  ></p-button>
    <p-button icon="pi pi-sign-out" styleClass="p-button-danger" (onClick)="handleLogout()" ></p-button>
  </div>

</p-toolbar>
