<div class="pdv-container">
  <!-- Coluna Esquerda - Ações -->
  <div class="pdv-actions">
    <button pButton label="🔍 Buscar Produto" class="p-button-primary p-mb-2" (click)="buscarProduto()"></button>
    <button pButton label="👤 Cliente" class="p-button-primary p-mb-2" (click)="mostrarTelaCliente()"></button>
    <button pButton label="% Desconto Total" class="p-button-primary p-mb-2" (click)="mostrarTelaDesconto()"></button>
    <button pButton label="❌ Cancelar Venda" class="p-button-primary p-mb-2" (click)="cancelarVenda()"></button>
  </div>

  <!-- Coluna Direita - Venda -->
  <div class="pdv-venda">

    <!-- Tabela de Produtos -->
    <p-table [value]="produtos" [scrollable]="true" scrollHeight="300px">
      <ng-template pTemplate="header">
        <tr>
          <th>Cód.</th>
          <th>Descrição</th>
          <th>Quant.</th>
          <th>Unitário</th>
          <th>Total</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto>
        <tr>
          <td>{{ produto.codigo }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>R$ {{ produto.precoVenda | number: '1.2-2' }}</td>
          <td>R$ {{ (produto.precoVenda*produto.quantidade) | number: '1.2-2' }}</td>
          <td>
            <button pButton icon="pi pi-times" class="p-button-danger p-button-sm"
              (click)="removerProduto(produto.codigo)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog header="Produtos Cadastrados" [(visible)]="mostrarDialogProdutos" [modal]="true"
      [style]="{width: '70vw'}">
      <p-table [value]="catalogo">
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Tipo Produto</th>
            <th>Estoque</th>
            <th>Unitário</th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
          <tr>
            <td>{{ produto.codigo }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.tipoProduto }}</td>
            <td>{{ produto.estoque }}</td>
            <td>R$ {{ produto.precoVenda | number: '1.2-2' }}</td>
            <td>
              <button pButton type="button" label="Selecionar" (click)="selecionarProduto(produto)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
    <p-dialog header="Desconto" [(visible)]="mostrarDesconto" [modal]="true">
      <div class="p-float-label flex flex-column mr-4 mt-4 mb-4">
        <input pInputText [(ngModel)]="valorDesconto" />
        <label for="float-label">Desconto(%)</label>
      </div>
      <p-button class="mr-2" (onClick)="aplicarDesconto()" type="submit" label="Confirmar"></p-button>
    </p-dialog>
    <p-dialog header="Clientes Cadastrados" [(visible)]="mostrarDialogClientes" [modal]="true"
      [style]="{width: '50vw'}">
      <p-table [value]="clientes">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome Completo</th>
            <th>Documento</th>
            <th>Endereço</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
          <tr>
            <td>{{ cliente.nome + ' ' + cliente.sobrenome }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.logradouro + ' - ' + cliente.bairro + ' - ' + cliente.municipio }}</td>
            <td>
              <button pButton type="button" label="Selecionar" (click)="selecionarCliente(cliente)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
    <p-dialog header="Parcelamento" [(visible)]="mostrarDialogCartaoPrazo" [modal]="true">
      <div class="p-float-label flex flex-column mr-4 mt-4 mb-4">
        <input pInputText [(ngModel)]="parcelas" />
        <label for="float-label">Parcelas</label>
      </div>
      <p-button class="mr-2" (onClick)="cartaoAPrazo()" type="submit" label="Confirmar"></p-button>
    </p-dialog>
    <p-dialog header="Quantidade" [(visible)]="mostrarDialogQuantidade" [modal]="true">
      <div class="p-float-label flex flex-column mr-4 mt-4 mb-4">
        <input pInputText type="number" [(ngModel)]="quantidade" />
        <label for="float-label">Quantidade</label>
      </div>
      <p-button class="mr-2" (onClick)="quantidadeItem()" type="submit" label="Confirmar"></p-button>
    </p-dialog>


    <!-- Rodapé -->
    <div class="pdv-footer">
      <div class="info">
        {{cliente?.tipoDocumento || "CPF"}}: {{ cliente?.documento || "Não identificado" }} | Cliente: {{cliente?.nomeCompleto || "Cliente não identificado"}}
      </div>
      <div>
        Desconto aplicado: R$ {{ descontoAplicado | number: '1.2-2' }}
      </div>
      <div class="total">
        Total a pagar: R$ {{ total | number: '1.2-2' }}
      </div>
    </div>

    <!-- Botões de Pagamento -->
    <div class="pdv-pagamento">
      <button pButton label="💵 Pix" class="p-button-secondary" (click)="pix()"></button>
      <button pButton label="💵 Dinheiro" class="p-button-secondary" (click)="dinheiro()"></button>
      <button pButton label="💳 Cartão Débito" class="p-button-secondary" (click)="cartaoDebito()"></button>
      <button pButton label="💳 Cartão Crédito à vista" class="p-button-secondary" (click)="cartaoCreditoAVista()"></button>
      <button pButton label="💳 Cartão Crédito parcelado" class="p-button-secondary" (click)="mostrarTelaCartaoPrazo()"></button>
    </div>
  </div>
</div>