<div class="pdv-container">
  <!-- Coluna Esquerda - Ações -->
  <div class="pdv-actions">
    <button pButton label="🔍 Buscar Produto" class="p-button-primary p-mb-2" (click)="buscarProduto()"></button>
    <button pButton label="👤 Cliente" class="p-button-primary p-mb-2" (click)="mostrarTelaCliente()"></button>
    <button pButton label="% Desconto Total" class="p-button-primary p-mb-2" (click)="mostrarTelaDesconto()"></button>
    <button pButton label="📄 Salvar" class="p-button-primary p-mb-2"></button>
    <button pButton label="❌ Cancelar Item" class="p-button-primary p-mb-2"></button>
  </div>

  <!-- Coluna Direita - Venda -->
  <div class="pdv-venda">
    <!-- Entrada de Produto -->
    <div class="p-inputgroup p-mb-3">
      <input type="text" pInputText placeholder="Código do Produto" [(ngModel)]="codigoProduto"
        (keyup.enter)="adicionarProduto()" />
      <button pButton icon="pi pi-plus" label="Adicionar" (click)="adicionarProduto()"></button>
    </div>

    <!-- Tabela de Produtos -->
    <p-table [value]="produtos" [scrollable]="true" scrollHeight="300px">
      <ng-template pTemplate="header">
        <tr>
          <th>Cód.</th>
          <th>Descrição</th>
          <th>Quant.</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-produto>
        <tr>
          <td>{{ produto.codigo }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>R$ {{ produto.precoVenda | number: '1.2-2' }}</td>
          <td>
            <button pButton icon="pi pi-times" class="p-button-danger p-button-sm"
              (click)="removerProduto(produto.codigo)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-dialog header="Produtos Cadastrados" [(visible)]="mostrarDialogProdutos" [modal]="true"
      [style]="{width: '50vw'}">
      <p-table [value]="catalogo">
        <ng-template pTemplate="header">
          <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
          <tr>
            <td>{{ produto.codigo }}</td>
            <td>{{ produto.descricao }}</td>
            <td>R$ {{ produto.precoVenda | number: '1.2-2' }}</td>
            <td>
              <button pButton type="button" label="Selecionar" (click)="selecionarProduto(produto)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
    <p-dialog header="Desconto" [(visible)]="mostrarDesconto" [modal]="true">
      <div class="p-float-label flex flex-column mr-4 mt-4 mb-4">
        <input pInputText [(ngModel)]="valorDesconto" />
        <label for="float-label">Desconto</label>
      </div>
      <p-button class="mr-2" (onClick)="aplicarDesconto()" type="submit" label="Confirmar"></p-button>
    </p-dialog>
    <p-dialog header="Clientes Cadastrados" [(visible)]="mostrarDialogClientes" [modal]="true"
      [style]="{width: '50vw'}">
      <p-table [value]="clientes">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome Completo</th>
            <th>Documento</th>
            <th>Endereço</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
          <tr>
            <td>{{ cliente.nome + ' ' + cliente.sobrenome }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.logradouro + ' - ' + cliente.bairro + ' - ' + cliente.municipio }}</td>
            <td>
              <button pButton type="button" label="Selecionar" (click)="selecionarCliente(cliente)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>


    <!-- Rodapé -->
    <div class="pdv-footer">
      <div class="info">
        CPF: {{ cliente?.documento || "Não identificado" }} | Cliente: {{cliente?.nome || "Cliente não identificado"}}
      </div>
      <div>
        Desconto aplicado: R$ {{ descontoAplicado | number: '1.2-2' }}
      </div>
      <div class="total">
        Total a pagar: R$ {{ total | number: '1.2-2' }}
      </div>
    </div>

    <!-- Botões de Pagamento -->
    <div class="pdv-pagamento">
      <button pButton label="✔ Finalizar Venda" class="p-button-success" (click)="finalizarVenda()"></button>
      <button pButton label="💵 Dinheiro c/ Troco" class="p-button-secondary"></button>
      <button pButton label="🪙 Dinheiro s/ Troco" class="p-button-secondary"></button>
      <button pButton label="💳 TEF Crédito" class="p-button-secondary"></button>
      <button pButton label="🏧 TEF Débito" class="p-button-secondary"></button>
    </div>
  </div>
</div>